@import "tailwindcss";

:root {
  --background: #090909;
  --foreground: #aaa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-mono);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono), 'Courier New', monospace !important;
}

[cmdk-list]::-webkit-scrollbar {
  width: 12px;
}

[cmdk-list]::-webkit-scrollbar-track {
  background: transparent;
}

[cmdk-list]::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 4px solid #111;
  background: rgba(255, 255, 255, 0.08);
}

[cmdk-list]::-webkit-scrollbar-thumb:hover {
  border: 3px solid #111;
  background: rgba(255, 255, 255, 0.12);
}
